// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel{
	background-color: #fff;
	box-shadow: 0px 2px 4px rbba(0, 0, 0, 0.04);
}

.fm-inline{
	display: inline;
}

.avatar{
	width: 120px;
	height: 120px;
}